<?xml version="1.0"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
        <property name="connection.connection_string">
            <!-- removed -->
        </property>
        <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
        <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
        <property name="cache.use_second_level_cache">false</property>
        <property name="cache.use_query_cache">false</property>
        <property name="show_sql">false</property>
        <property name="adonet.batch_size">16</property>
        <property name="default_schema">AgencyPortal.dbo</property>
        <property name="generate_statistics">true</property>
        <property name="command_timeout">300</property>
        <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>-->
        <property name="current_session_context_class">web</property>
    </session-factory>
</hibernate-configuration>