<?xml version="1.0"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
        <property name="connection.connection_string">
            Server=d33fd9a3-b7b1-440e-8f15-a0060108aeda.sqlserver.sequelizer.com;Database=dbd33fd9a3b7b1440e8f15a0060108aeda;User ID=sruuaqawqcraessb;Password=grwHN7hZUKDF5fzAtvHJAeQNMYG2CHmJFAHtvTRTG6dxiA6GMnQXihJcHQ4Xyovm;
        </property>
        <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
        <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
        <property name="cache.use_second_level_cache">false</property>
        <property name="cache.use_query_cache">false</property>
        <property name="show_sql">false</property>
        <property name="adonet.batch_size">16</property>
        <property name="default_schema">AgencyPortal.dbo</property>
        <property name="generate_statistics">true</property>
        <property name="command_timeout">300</property>
        <!--<property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>-->
        <property name="current_session_context_class">web</property>
    </session-factory>
</hibernate-configuration>